/* General Styles */
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	background: #FBE7D8;
	color: #fff;
  }
  
  .logo  {
	margin: 0 auto;
	width: 100px;  
  }

.logo-container {
	text-align: center;
}
  
  .container {
	display: flex;
	flex-direction:row;
	align-items: stretch;
	height: 70vh;
	gap: 20px;
	margin: 10px;
  }
  
.text-area {
	flex: 1;
	height: 67%;
}
  
.buttons-cnt{
	flex-direction:row;
	/* stretch items width to max of container */
	align-items: stretch;
}

.buttons-cnt button{
	width: 100% !important;
}
  
.display-area {
	flex: 1;
	background-color: #808587;
	padding: 10px;
	color: white;
	overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
	height: 65%;

}
  
  .gap {
	width: 10px; /* Adjust the gap size */
  }
  
  /* Typography */
  h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
	margin-top: 50px;
	color: #213C45;
	
  }
  
  h2 {
	color: #ffd18b;
	text-align: center;
  }
  
  p {
	text-align:center;
	margin-bottom: 2rem;
  }
  
  /* Form Styles */
  form {
	margin: 50px auto;
	text-align: center;
	max-width: 600px;
  }
  
  input[type="text"],
  text {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
  }
  
  #textInput {
	height: 100%;
	border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    resize: vertical;
	vertical-align: top; /* Apply vertical alignment to the text area */

	width: 100%;
	padding: 12px;
  }
  
  label {
	color: #BE601D;
  }
  
  button {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	text-align: center;
	background-color: #213C45;
	color: #fff;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
  }
  
  button:hover {
	background-color: #BE601D;
  }
  
  .input-bar {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Align items with space between */
    position: sticky;
    bottom: 0;
    background-color: #FBE7D8;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
}

.input-bar input[type="text"] {
    flex: 1; /* Grow to fill available space */
    margin-right: 10px; /* Add margin between input and button */
	margin-bottom: 0px !important;
}	



	/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	/* padding-top: 100px; */ /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	text-align: center;
	margin-top: 40vh;	
	justify-content: center;
}

/* Modal Content */
.modal-content {
	background-color: #fbe7d8;
	margin: auto;
	padding: 20px;
	border: 3px solid #213C45;
	width: 80%;
	text-align: center;
}

.modal-p {
	color: #213C45;
	font-family: Arial Bold;
	font-style: bold;
}


/* Styles for tables within the display area */
.display-area table {
	width: 100%; /* Makes tables span the full width of their container */
	border-collapse: collapse; /* Collapses the border between table cells */
	margin-bottom: 20px; /* Adds space between tables */
}

/* Styles for table header and data cells */
.display-area th, .display-area td {
	padding: 8px; /* Adds padding around the content inside table cells */
	text-align: left; /* Aligns the text to the left within table cells */
	border: 1px solid #dddddd; /* Sets a border around each table cell */
}

/* Styles for table header cells */
.display-area th {
	background-color: #b6afa4; /* Sets a background color for table header cells */
}

/* Styles for even-numbered rows */
.display-area tbody tr {
	background-color: #686868; /* Alternates the background color of even-numbered rows for better readability */
}

/* Style for radio button forms */
form {
    margin-top: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="radio"] {
    margin-right: 5px;
}

.options-container {
    CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
    height: fit-content;
    flex-direction: row;
    align-items: flex-start;
}

.radio-container form{
	display: flex;
	flex-direction: column;
	align-items: start;
}
